<!--
    Eitzen, N. (2024). CIS 530 Server Side Development. Bellevue University
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Bookclub | About Us.</title>

        <!--  Bootstrap StyleSheet CDN -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">

        <link rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
            integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
            crossorigin="anonymous">    
    </head>
    <body>
        <div th:insert="~{fragments/header :: header}"></div>
        
        <div class="container py-5" style="width: 50%;">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>About us.</h1>
                </div>
            </div>
    
            <br /><br />
    
            <div class="row">
                <div class="col-6">
                    <div class="row text-center">
                        <div class="col-12">
                            <h1>Nolan Eitzen</h1>
                        </div>
                    </div>
    
                    <div class="row text-center">
                        <div class="col-12">
                            <ul class="list-group">
                                <li class="list-group-item border-0">Student - Ms CIS Bellevue University</li>
                                <li class="list-group-item border-0">Occupation - Fiserv, Global Security and Investigations</li>
                                <li class="list-group-item border-0">Contact - neitzen@my365bellevue.edu</li>
                            </ul>
                        </div>
                    </div>
                </div>
    
                <div class="col-6">
                    <div class="row text-center">
                        <div class="col-12">
                            <h1>Patrick Gold</h1>
                        </div>
                    </div>
    
                    <div class="row text-center">
                        <div class="col-12">
                            <ul class="list-group">
                                <li class="list-group-item border-0">Professor - Bellevue University</li>
                                <li class="list-group-item border-0">Instructing - CIS 530, Spring 2024</li>
                                <li class="list-group-item border-0">Contact - pagold@bellevue.edu</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:insert="~{/fragments/footer :: footer}"></div>
        <div th:insert="~{/fragments/scriptFooter :: scriptFooter}"></div>
    </body>
</html>